* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(43, 77, 71) 0%,
    rgb(82, 99, 105) 100%
  );
}
.nav>ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  padding: 20px;
  background: linear-gradient(
    130deg,
    rgb(103, 132, 146) 0%,
    rgb(28, 92, 89) 100%
  );


}
li{
  list-style: none;
}
.navbar{
  color: rgb(247, 242, 242);
  font-weight: 600;
  font-size: 20px;
}
.navbar:hover{
  color: rgb(66, 61, 61);
  font-weight: 600;
}
.todo-app {
  display: flex;
  flex-direction: column;
  width: 70vw;
  min-height: 80vh;
  background: linear-gradient(
    130deg,
    rgb(103, 132, 146) 0%,
    rgb(28, 92, 89) 100%
  );
  text-align: center;
  margin: 12px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #d9e5e9;
  outline: none;
  width: 50vw;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  border-right: 2px solid #d9e5e9;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 50vw;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
.homepage{
  height: 100vh;
  background-image: url("https://image.freepik.com/free-photo/digital-transformation-corporate-wallpaper_53876-97646.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}
.home{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 85px;
  font-weight: 600;
  z-index: 1;
}
.img{
  display: flex;
  justify-content: center ;
  margin-top: 30px;
}
.img>img{
  height: 400px;
  width: 70vw;
  border-radius: 4%;
}